{% load static %}
<div class="container-fluid section bht-crew" id="bht-crew-section">
    <h2 class="section-title text">BHT Crew</h2>

    <!-- Slider main container -->
    <div class="swiper-container employee-slideshow-container">
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid slide" src="{% static 'img/employees/bob-min.png' %}" alt="Bob">
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid slide" src="{% static 'img/employees/connie-min.png' %}" alt="Connie">
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid slide" src="{% static 'img/employees/bobby-min.png' %}" alt="Bobby">
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid slide" src="{% static 'img/employees/glen-min.png' %}" alt="Glen">
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid slide" src="{% static 'img/employees/joe.jpg' %}" alt="Joe">
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid slide" src="{% static 'img/employees/doug.jpg' %}" alt="Doug">
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid slide" src="{% static 'img/employees/jack.jpg' %}" alt="Jack">
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid slide" src="{% static 'img/employees/simon.jpg' %}" alt="Simon">
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid slide" src="{% static 'img/employees/casey.jpg' %}" alt="Casey">
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid slide" src="{% static 'img/employees/kenneth.jpg' %}" alt="Kenneth">
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid slide" src="{% static 'img/employees/tyler.jpg' %}" alt="Tyler">
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid slide" src="{% static 'img/employees/evan.jpg' %}" alt="Evan">
            </div>
        </div>

        <!-- Pagination -->
        <div class="swiper-pagination"></div>
        <!-- End Pagination -->

        <!-- Control Arrows -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- End Control Arrows -->
    </div>
</div>