{% load static %}
<div class="container-fluid section bht-crew" id="bht-crew-section">
    <h2 class="section-title text">BHT Crew</h2>

    <!-- Slider main container -->
    <div class="swiper-container employee-slideshow-container">
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid img-thumbnail slide" src="{% static 'img/employees/minified/bob-min.png' %}" alt="Bob">
                <span class="d-flex justify-content-center employee-name-text">Bob Burkhead</span>
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid img-thumbnail slide" src="{% static 'img/employees/minified/connie-min.png' %}" alt="Connie">
                <span class="d-flex justify-content-center employee-name-text">Connie Burkhead</span>
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid img-thumbnail slide" src="{% static 'img/employees/minified/bobby-min.png' %}" alt="Bobby">
                <span class="d-flex justify-content-center employee-name-text">Bobby Singer</span>
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid img-thumbnail slide" src="{% static 'img/employees/minified/glen-min.png' %}" alt="Glen">
                <span class="d-flex justify-content-center employee-name-text">Glen Toloczko</span>
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid img-thumbnail slide" src="{% static 'img/employees/minified/joe-min.png' %}" alt="Joe">
                <span class="d-flex justify-content-center employee-name-text">Joe Koenig</span>
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid img-thumbnail slide" src="{% static 'img/employees/minified/doug-min.png' %}" alt="Doug">
                <span class="d-flex justify-content-center employee-name-text">Doug Pfeiffer</span>
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid img-thumbnail slide" src="{% static 'img/employees/minified/jack-min.png' %}" alt="Jack">
                <span class="d-flex justify-content-center employee-name-text">Jack State</span>
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid img-thumbnail slide" src="{% static 'img/employees/minified/simon-min.png' %}" alt="Simon">
                <span class="d-flex justify-content-center employee-name-text">Simon Ladd</span>
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid img-thumbnail slide" src="{% static 'img/employees/minified/casey-min.png' %}" alt="Casey">
                <span class="d-flex justify-content-center employee-name-text">Casey Powell</span>
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid img-thumbnail slide" src="{% static 'img/employees/minified/kenneth-min.png' %}" alt="Kenneth">
                <span class="d-flex justify-content-center employee-name-text">Kenneth Brown</span>
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid img-thumbnail slide" src="{% static 'img/employees/minified/tyler-min.png' %}" alt="Tyler">
                <span class="d-flex justify-content-center employee-name-text">Tyler Shoulders</span>
            </div>
            <div class="swiper-slide employee-slide-container">
                <img class="img-fluid img-thumbnail slide" src="{% static 'img/employees/minified/evan-min.png' %}" alt="Evan">
                <span class="d-flex justify-content-center employee-name-text">Evan Sparks</span>
            </div>
        </div>

        <!-- Pagination -->
        <div class="swiper-pagination"></div>
        <!-- End Pagination -->

        <!-- Control Arrows -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- End Control Arrows -->
    </div>
</div>