<div class="container-fluid slideshow-container">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="http://lorempixel.com/1920/500/" class="" alt="demo">
                Slide 1
            </div>
            <div class="swiper-slide">Slide 2
                <img src="http://lorempixel.com/1920/500/" alt="demo">
            </div>
            <div class="swiper-slide">Slide 3
                <img src="http://lorempixel.com/1920/500/" alt="demo">
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>

