{% load static %}
<div class="container-fluid section upcoming-events" id="upcoming-events">
    <h2 class="section-title">Upcoming Events</h2>

    <!-- Slider main container -->
    <div class="swiper-container events-slideshow-container">
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide events-slide">
                <img class="img-responsive slide" src="{% static 'img/ashrae_chicago2.png' %}" class="" alt="demo">
            </div>
            <div class="swiper-slide events-slide">
                <img class="img-responsive slide" src="{% static 'img/ashrae_houston.png' %}" alt="demo">
            </div>
            <div class="swiper-slide events-slide">
                <img class="img-responsive slide" src="{% static 'img/inda2018.png' %}" alt="demo">
            </div>
        </div>

        <!-- Swiper Pagination -->
        <div class="swiper-pagination"></div>
        <!-- End Swiper Pagination -->

        <!-- Swiper Arrows -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- End Swiper Arrows -->
    </div>
</div>
