{% load static %}
<div class="container-fluid section about-us">
    <div class="row">
        <!-- Featured Image -->
        <div class="col">
            <img class="img-fluid featured-image" src="{% static 'img/group.png' %}" alt="Group Photo">
        </div>
        <!-- End Featured Image -->

        <!-- Featured Intro Text -->
        <div class="col-lg-6">
            <h2 class="section-title text-center">About Us</h2>
            <p>Blue Heaven Technologies is a recognized leader in providing state-of-the-art air filtration testing and analytical services for air filtration and environmental emissions. From flat sheet efficiency tests to industrial vapor emissions testing, Blue Heaven can perform the testing services you need reliably and economically.</p>

            <p>We are stafffed with trained specialists and highly experienced technicians who have spent their careers in the air filtration business. The combined experience of our staff incorporates virtually every air filtration and air quality standard in use today. No other laboratory offers the range of air filtration testing services with experienced technical personnel as Blue Heaven.</p>
        </div>
        <!-- End Featured Text -->
    </div>
</div>