<div class="container-fluid copyright-container">
    <!-- Copyright Text -->
    <p class="copyright-text">Copyright &copy; 2017 Blue Heaven Technologies | Designed by Kenneth Brown</p>
    <!-- End Copyright Text -->

    <!-- Social Links -->
    <span class="social-links">
        <a href="#"><i class="fa fa-linkedin-square fa-2x social-link"></i></a>
        <a href="#"><i class="fa fa-facebook-square fa-2x social-link"></i></a>
        <a href="#"><i class="fa fa-twitter-square fa-2x social-link"></i></a>
    </span>
    <!-- End Social Links -->
</div>
