<div class="container-fluid copyright-container">
    <div class="row align-items-center">
        <div class="col">
            <!-- Copyright Text -->
            <span class="d-sm-block copyright-text">&copy; 2017 Blue Heaven Technologies | Created by Kenneth Brown</span>
            <!-- End Copyright Text -->
        </div>
        <div class="col d-flex justify-content-end">
            <!-- Social Links -->
            <span class="social-links">
                <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square fa-2x social-link"></i></a>
                <a href="https://www.facebook.com/Blue-Heaven-Technologies-1652530911638513/" target="_blank"><i class="fa fa-facebook-square fa-2x social-link"></i></a>
                <!--<a href="#"><i class="fa fa-twitter-square fa-2x social-link"></i></a>-->
            </span>
            <!-- End Social Links -->
        </div>
    </div>
</div>
