<div class="container-fluid footer">
    <!-- Contact Information -->
    <div class="contact-info">
        <address>
            <span class="footer-text footer-text-emphasis">Blue Heaven Technologies</span><br>
            <span class="footer-text">2820 South English Station Road</span><br>
            <span class="footer-text">Louisville, KY 40299</span><br>
            <a href="tel:+15023570132"><i class="fa fa-phone contact-icon" aria-hidden="true"></i><span class="footer-link">(502) 357-0132</a></span><br>
            <span class="footer-text"><i class="fa fa-fax contact-icon" aria-hidden="true"></i>(502) 357-0132</span><br>
            <a href="mailto:info@blueheaventech.com"><i class="fa fa-envelope contact-icon" aria-hidden="true"></i><span class="footer-link">info@blueheaventech.com</a></span>
        </address>
    </div>
    <!-- End Contact Information -->

    <!-- Google Map -->
    <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10546.948128709251!2d-85.47536659032654!3d38.195350554043976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8869a2f9826c926b%3A0xb901b3f12c5da5b8!2s2820+S+English+Station+Rd%2C+Louisville%2C+KY+40299!5e0!3m2!1sen!2sus!4v1505225783193" class="map" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- End Google Map -->
</div>