<header class="navbar navbar-dark navbar-expand-lg">
    <!-- Brand -->
    <div class="navbar-brand">
        <span class="brand">Blue Heaven Technologies</span>
    </div>
    <!-- End Brand -->

    <!-- Hamburger Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- End Hamburger Toggler -->

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse justify-content-end" id="main-navigation">
        <nav class="navbar-nav">
            <li class="nav-item navbar-text"><a class="nav-link" href="#">About Us</a></li>
            <li class="nav-item navbar-text"><a class="nav-link" href="#">Testing Services</a></li>
            <li class="nav-item navbar-text"><a class="nav-link" href="#">Contact Us</a></li>
            <li class="nav-item navbar-text"><a class="nav-link" href="#">BHT Crew</a></li>
            <li class="nav-item navbar-text"><a class="nav-link" href="#">Upcoming Events</a></li>
        </nav>
    </div>
    <!-- End Navigation Links -->
</header>