{% load static %}
<header class="navbar navbar-dark navbar-expand-lg">
    <!-- Brand -->
    <div class="navbar-brand">
        <span class="brand">Blue Heaven Technologies</span>
    </div>
    <!-- End Brand -->

    <!-- Hamburger Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- End Hamburger Toggler -->

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse justify-content-end" id="main-navigation">
        <nav class="navbar-nav">
            <li class="nav-item navbar-text"><a class="nav-link" href="#about-us-section">About Us</a></li>
            <li class="nav-item navbar-text"><a class="nav-link" href="#bht-crew-section">BHT Crew</a></li>
            <li class="nav-item navbar-text"><a class="nav-link" href="#testing-services-section">Testing Services</a></li>
            <li class="nav-item navbar-text"><a class="nav-link" href="#contact-us-section">Contact Us</a></li>
            <!--<li class="nav-item navbar-text"><a class="nav-link" href="#upcoming-events-section">Upcoming Events</a></li>-->
        </nav>
    </div>
    <!-- End Navigation Links -->
</header>