{% load static %}
<div class="container-fluid section testing-services" id="testing-services-section">
    <!-- Section Title -->
    <h2 class="section-title">Testing Services</h2>
    <!-- End Section Title -->

    <div class="row justify-content-center">
        <!-- Ashrae Testing Card -->
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/testing_services/ashrae_testing-min.jpg' %}" alt="Photo of employee working with instrumentation.">
                <div class="card-body">
                    <h4 class="card-title text-center">Ashrae Testing</h4>
                    <p class="card-text">We have made numerous processes more efficient and reliable by introducing new testing technologies and innovative procedures.</p>
                    <a href="services_detail.html" class="btn btn-primary">Learn More</a>
                </div>  <!-- /.card-body -->
            </div>  <!-- /.card -->
        </div>  <!--/.col-md-4 -->
        <!-- End Ashrae Testing Card -->

        <!-- European Testing Card -->
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/testing_services/european_testing-min.jpg' %}" alt="Photo of employee loading EN779 duct.">
                <div class="card-body">
                    <h4 class="card-title text-center">European Testing</h4>
                    <p class="card-text">Find out if your filter is compliant to European Standards.  We offer many tests complying to various European protocols.</p>
                    <a href="services_detail.html" class="btn btn-primary">Learn More</a>
                </div>  <!-- /.card-body -->
            </div>  <!-- /.card -->
        </div>  <!--/.col-md-4 -->
        <!-- End European Testing Card -->

        <!-- ISO Testing Card -->
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/testing_services/iso_testing-min.jpg' %}" alt="Photo of employees affixing components to aramco test duct.">
                <div class="card-body">
                    <h4 class="card-title text-center">ISO Testing</h4>
                    <p class="card-text">We offer many protocol variations including HVAC, automotive, industrial, gas-phase, vacuum cleaners, and paint arrestance.</p>
                    <a href="services_detail.html" class="btn btn-primary">Learn More</a>
                </div>  <!-- /.card-body -->
            </div>  <!-- /.card -->
        </div>  <!--/.col-md-4 -->
        <!-- End ISO Testing Card -->

        <!-- Flatsheet Testing Card -->
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/testing_services/flatsheet_testing-min.jpg' %}" alt="Photo of employee loading flatsheet duct.">
                <div class="card-body">
                    <h4 class="card-title text-center">Flatsheet Testing</h4>
                    <p class="card-text">Do you have smaller or uniquely shaped media? Blue Heaven has gained extensive knowledge in testing flat sheet media, car filters, and other smaller medias. Find out how we can help get you the answers you seek.</p>
                    <a href="services_detail.html" class="btn btn-primary">Learn More</a>
                </div>  <!-- /.card-body -->
            </div>  <!-- /.card -->
        </div>  <!--/.col-md-4 -->
        <!-- End Flatsheet Testing Card -->

        <!-- Cleanroom Testing Card -->
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/testing_services/cleanroom_testing-min.jpg' %}" alt="Photo of employee working with pressure gauge.">
                <div class="card-body">
                    <h4 class="card-title text-center">Cleanroom Testing</h4>
                    <p class="card-text">From popcorn poppers to hair analysis, many experimental projects have began in our cleanroom. We also have sophisticated equipment to handle the testing of portable air cleaners. </p>
                    <a href="services_detail.html" class="btn btn-primary">Learn More</a>
                </div>  <!-- /.card-body -->
            </div>  <!-- /.card -->
        </div>  <!--/.col-md-4 -->
        <!-- End Cleanroom Testing Card -->

        <!-- Auxiliary Services Testing Card -->
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{% static 'img/testing_services/auxiliary_services-min.jpg' %}" alt="Photo of owner teaching a class.">
                <div class="card-body">
                    <h4 class="card-title text-center">Auxiliary Services</h4>
                    <p class="card-text">Learn the “nuts and bolts” of filter testing by scheduling a Blue Heaven Play Day. Spend a day with our staff and receive full use of our testing facilities as well as technical assistance in air filtration product development.</p>
                    <a href="services_detail.html" class="btn btn-primary">Learn More</a>
                </div>  <!-- /.card-body -->
            </div>  <!-- /.card -->
        </div>  <!--/.col-md-4 -->
        <!-- End Auxiliary Services Testing Card -->
    </div>
</div>