{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}
    <!-- About Us -->
    {% include 'layout/partials/about_us.html' %}
    <!-- End About Us -->

    <!-- Employee Slideshow -->
    {% include 'layout/partials/slideshow/employee_slideshow.html' %}
    <!-- End Employee Slideshow -->

    <!-- Testing Services -->
    {% include 'layout/partials/testing_services.html' %}
    <!-- End Testing Services -->

    <!-- Slideshow -->

    <!-- End Slideshow -->


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/employee_slideshow.js' %}"></script>
{% endblock %}