{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}BHT | Home{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}
    <!-- About Us -->
    {% include 'layout/partials/about_us.html' %}
    <!-- End About Us -->

    <!-- BHT Crew -->
    {% include 'layout/partials/slideshow/employee_slideshow.html' %}
    <!-- End BHT Crew -->

    <!-- Testing Services -->
    {% include 'layout/partials/testing_services2.html' %}
    <!-- End Testing Services -->

    <!-- Contact Us -->
    {% include 'layout/partials/contact_us.html' %}
    <!-- End Contact Us-->

    <!-- Upcoming Events Slideshow -->
    {% include 'layout/partials/slideshow/upcoming_events.html' %}
    <!-- End Upcoming Events Slideshow -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/employee_slideshow.js' %}"></script>
    <script src="{% static 'js/vendor/parallax.js-1.5.0/parallax.min.js' %}"></script>
{% endblock %}