{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!-- Swiper CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- Navigation -->
        {% include 'layout/partials/navigation.html' %}
        <!-- End Navigation -->

        <!-- Slideshow -->

        <!-- End Slideshow -->

        <!-- Main Content -->
        {% block content %}{% endblock %}
        <!-- End Main Content -->

        <!-- Footer -->
        {% include 'layout/partials/footer.html' %}
        <!-- End Footer -->

        <!-- Copyright Info -->
        {% include 'layout/partials/copyright.html' %}
        <!-- End Copyright Info -->

        <!-- Font Awesome Javascript -->
        <script src="https://use.fontawesome.com/911428dcd2.js"></script>
        <!-- Bootstrap Javascript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <!-- Swiper Javascript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>